@model Application.ViewModels.TransportListViewModel;
@{ ViewData["Title"] = "Transports"; }

<a class="btn btn-info" asp-controller="Transport" asp-action="Add" >Get Offer</a>
<br />
<br />
<table class="table">
    <thead>
        <tr>
            <th scope="col">Distance</th>
            <th scope="col">Living Area</th>
            <th scope="col">Attic Area</th>
            <th scope="col">Distance/Car</th>
            <th scope="col">Piano</th>
            <th scope="col">Price</th>
           
        </tr>
    </thead>
    <tbody>
        @{ foreach (var transport in Model.Transports)
            {
              <tr>
                  <td>@transport.Distance /km</td>
                  <td>@transport.LivingArea /m2</td>
                  <td>@transport.AtticArea /m2</td>
                  <td>@transport.DistancePriceCar</td>
                  <td>@transport.Piano </td>
                  <td>@transport.Price SEK</td>
   
              </tr> 
            } 
          }
    </tbody>
</table>